<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="messages" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\logs\messages.svclog"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAccountingDetailsService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:3869/Service.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IAccountingDetailsService"
        contract="WanderingTurtleService.IAccountingDetailsService"
        name="BasicHttpBinding_IAccountingDetailsService" />
    </client>
  </system.serviceModel>
</configuration>
